.PasswordForm label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.PasswordForm-btn {
    color: rgb(77, 13, 138);
    border: 1px solid rgb(77, 13, 138);
    margin: auto;
}

.PasswordForm-btn:hover {
    background-color: rgb(77, 13, 138)
}

.PasswordForm-cancel-btn {
    color: black;
    border: 1px solid black;
    margin:auto;
}

.PasswordForm-btn-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.PasswordForm-pwd-btn {
    color: rgb(77, 13, 138);
    border: 1px solid rgb(77, 13, 138);
    width: 75px;
    font-size: .75rem;
}

.PasswordForm-pwd-btn:hover {
    background-color: rgb(77, 13, 138);
}